<div class="banner" background-color="green">
  <div class="container">
    <h1><strong>Legal notice</strong></h1>
  </div>
</div>

<h2>
Impressum
</h2>
<p>
Digital Education Bridge e.V.
Gegründet am 12.10.2023 in Berlin.

Rechtssitz des Vereins ist Berlin.

Satzungsgemäße Aufgabe des Vereins und seiner Mitglieder ist die Förderung der Entwicklungszusammenarbeit. Dieser Zweck wird verwirklicht durch die
Förderung von Bildungswesen und bevölkerungspolitischen Maßnahmen durch das
kostenlose Angebot digitaler oder analoger Bildungs- und Unterstützungsangebote in
Entwicklungsländern, zur Förderung der persönlichen und beruflichen Entwicklung
der Begünstigten.

Email: info@digitaleducationbridge.org

Vereinsvorstand:

Vorstandsvorsitzender: Nikolai Regehr

Vizevorstandsvorsitzende: Fahrina Bestvater

Schatzmeister: Maxime Fischer
</p>
