<div class="container mt-4">
    <h2>Become a member of the Digital Education Bridge e.V.</h2>
    <p>Join us to get involved with the projects, follow our development and support us in scaling DEB. Currently there are no membership fees.</p>
    <!-- Add sign-up form here -->
    <form method="POST" action="https://script.google.com/macros/s/AKfycbxlPwmxTbnmoDdrY89vr7h709dk_-tRI3FB_oybrT06Fe8Plj76EoAUD4oYCuD9_v3uxw/exec">
        <!-- Form fields go here -->
    Name
    <input name="First name" type="text" placeholder="First name" required>
    <input name="Last name" type="text" placeholder="Last name" required>
    Address
    <input name="Street & street number" type="text" placeholder="Street & street number" required>
    <input name="Postal code" type="text" placeholder="Postal code" required>
    <input name="City" type="text" placeholder="City" required>
    <input name="Country" type="text" placeholder="Country" required>
    Email
    <input name="Email" type="email" placeholder="Email address" required>
    Why do you want to join us as a member?
    <input name="Your reason to join" type="text" placeholder="Write more than 100 characters" required>
    <button type="submit" class="btn btn-primary">Apply for membership</button>
    </form>
</div>
