/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Roboto", sans-serif;
}

.banner {
  background-size: cover;
  background-position: center;
  background-color: rgb(18, 79, 18);
  padding: 150px 0;
  text-align: center;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.signup-header {
  text-align: left;
  color: rgb(18, 79, 18);;
}

.donate-header {
  text-align: left;
  color: rgb(18, 79, 18);;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}




.footer {
  background-color: #2C2B2B;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: rgba(252, 245, 245, 0.86);
  margin-top: auto;
}

/*

.footer-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.footer-links p {
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.footer-links a {
  color: rgb(131, 172, 218);
  opacity: 0.8;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}

.footer-links a:hover {
  opacity: 1;
}

.fabio {
  color: #b0cce4
} */
